<div class="container">
  <!-- column1 -->
  <div class="row">
    <div class="col-md-8">
      <div class="column1-container">
        <div class="events-container">
          <div class="header p-2 d-flex align-items-center justify-content-center mt-2 bg-white">
            <h3 class="head"> All Events</h3>
          </div>
          <app-admin-chapter-events></app-admin-chapter-events>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="right-card mt-2">
        <app-admin-ongoing-events-card></app-admin-ongoing-events-card>
        <app-admin-scheduled-events-card></app-admin-scheduled-events-card>
        <app-admin-recent-events-card></app-admin-recent-events-card>
      </div>
    </div>
  </div>


</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-admin-chapter-events></app-admin-chapter-events>
    </div>
  </div>
</div> -->