<div class="container-fluid">
    <!-- row 1  cards-->
    <div id="card-container" class="container-fluid row mt-3">
      <!-- Total super admin card -->
      <div id="card" class="col-sm-12 col-md-3 mt-3">
        <app-admin-superadmin-card></app-admin-superadmin-card>
      </div>
      <!-- Total branch champion card -->
      <div id="card" class="col-sm-12 col-md-3 mt-3">
        <app-admin-branch-champion-card></app-admin-branch-champion-card>
      </div>
      <!-- Total chapter admin card -->
      <div id="card" class="col-sm-12 col-md-3 mt-3">
        <app-admin-chapterleader-card></app-admin-chapterleader-card>
      </div>
    </div>
    <!-- row 2  table container-->
    <div id="card" class="table-main-container">
      <div class="table-container">
        <app-admin-users-table></app-admin-users-table>
      </div>
    </div>
  </div>
