#card-container {
    align-items: center;
    margin: 15px 0px;
    justify-content: space-around;
  }
  .table-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .table-container {
    background-color: white;
    width: 95%;
    border-radius: 6px;
  }

