<div class="main-container">
    <div class="header">
        <h1>Fill the form below</h1>
    </div>
    <div class="content">
        <mat-card>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <h4>Provide the Following</h4>
                    <p>
                        <mat-form-field appearance="outline" class="example-full-width" >
                          <mat-label>Full Name</mat-label>
                          <input matInput placeholder="" formControlName="fullName">
                          <mat-icon matSuffix [ngStyle]="{'color':'crimson'}">person</mat-icon>
                          <mat-error *ngIf="myForm.get('fullName')?.invalid && (myForm.get('fullName')?.touched || myForm.get('fullName')?.dirty)">full name is required</mat-error>
                        </mat-form-field>
                      </p>
                      <p>
                        <!-- <mat-error *ngIf="myForm.get('fullName')?.hasError('required')">full name is required</mat-error> -->
                        <mat-form-field appearance="outline" class="example-full-width">
                            <mat-label>Index Number</mat-label>
                            <input matInput placeholder="" formControlName="indexNo">
                            <mat-icon matSuffix [ngStyle]="{'color': 'crimson'}">numbers</mat-icon>
                            <mat-error *ngIf="myForm.get('indexNo')?.hasError('required')">index number is required</mat-error>
                        </mat-form-field>
                      </p>
                      <div class="submit-btn">
                        <button mat-raised-button type="submit" class="btn">Continue</button>
                      </div>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</div>