.container-fluid {
  width: 100%;
  display: flex;
  gap: 2%;
  height: 100%;
  justify-content: center;
  margin-top: 2%;
}

//column
.column1-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 11px;
  overflow-y: auto;
  gap: 20px;
}
.header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  gap: 40%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  justify-content: space-between;
  align-items: center;
  span {
    margin-left: 5%;
    // color: #3c4858;
    color: #1d212f;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
  button {
    margin-right: 5%;
    color: #fff;
    border: 0;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    background-color: #6259ca;
  }
}
.activity-container {
  background-color: white;
  width: 100%;
  border-radius: 11px;
}

.events-container {
  width: 100%;
  background-color: white;
  border-radius: 11px;
  margin-bottom: 20px;
}

// column 2
.column2-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
#admin-set{
  
  padding: 10px 14px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -10px;
  right: -8px;
  background-color: rgb(163, 42, 43);
}
#events-set{
  padding: 10px 14px;
  border-radius: 50%;
  color: white;
  background-color: rgb(163, 42, 43);

}
.events{
  font: 1em sans-serif;
  color: rgb(163, 42, 43);
  font-weight: 700;
  margin-right: 10px;
}
.card1{
  background-color: white;
  box-shadow: 0 4px 8px rgb(230,173,94);
  span{
    font: 1em sans-serif;
    color: rgb(163, 42, 43);
    font-weight: 700;
  }
}
