<!-- <div class="modal fade" id="contentmodal" style="position:absolute;pointer-events: unset !important;" tabindex="-1" role="dialog" aria-labelledby="contentmodalLabel" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button> 
          <h4 class="modal-title">{{filteredData?.title}}</h4> 
          <img [src]="filteredData?.image" id="img"  alt="">                                                            
        </div> 
        <div class="modal-body">
          {{filteredData?.content}}
        </div>   
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
        </div>
      </div>                                                                       
    </div>    -->
  <!-- </div>? -->
  <div class="card" style="width: 30rem;">
    <div class="card-body">
        <button class="close btn btn-close" mat-dialog-close (click)="close()">
        
      </button>
        <div class="card-head">
            <div class="ttle">
                <h3 class="card-title">Title:</h3>
                <span>{{content?.title}}</span>
            </div>            
            <img [src]="content?.image" id="img"  alt="">
        </div>  

      <p class="card-text">{{content?.content}}</p>
      
    </div>
  </div>
