<div class="all">
  <!-- row 1  cards--> 
  <div class="card-container">
    <!-- Total super admin card -->
    <div class="single-card">
      <app-admin-chapterleader-card></app-admin-chapterleader-card>
    </div>
    <!-- Total branch champion card -->
    <div class="single-card">
      <app-admin-count-chapter-admin></app-admin-count-chapter-admin>
    </div>
    <!-- Total chapter admin card -->
    <div class="single-card">
      <app-admin-count-hub-admin></app-admin-count-hub-admin>
    </div>
  </div>
  <!-- row 2  table container-->
  <div class="table-main-container">
    <div class="table-container">
      <app-admin-table></app-admin-table>
    </div>
  </div>
</div>
