<div class="display-flex">
  <div class="column-1">
    <div class="update-profile-container" *ngIf="profileCompletion != 90">
      <img src="assets/images/elp ezek.jpg" />

      <div class="skills-progress">
        <p class="progress-title">Your Profile Progress</p>
        <p>Maximize networking potential by completing your profile.</p>
        <div class="mat-progress">
          <mat-progress-bar mode="determinate" class="style2" [value]="profileCompletion" color="color">
          </mat-progress-bar>
          <h4>{{ profileCompletion ? profileCompletion : 0 }}%</h4>
        </div>
      </div>
      <div class="update-profile mb-3">
        <a [routerLink]="['/user_profile']">  
          <button mat-button class="update">Complete Profile</button>
        </a>
      </div>
    </div>

    <!-- Add a post or post something div!-->
    <app-post></app-post>

    <!-- Feeds div ,includes recent posts from other users as well as hubs !-->
    <div class="feeds-container">
      <app-feeds></app-feeds>
    </div>
  </div>
  <div class="column-2">
    <app-more-people-card></app-more-people-card>
    <app-user-feedback class="feedback"></app-user-feedback>
  </div>
</div>
