<div class="main-container" >
  <div class="exit-post">
    <div class="button">
      <button mat-dialog-close matTooltip="Close" matTooltipClass="close">
        <img src="assets/images/x.svg" height="20" />
      </button>
    </div>
  </div>
  <div class="container">
    <div class="form-container">
      <form #careerform="ngForm" class="education-form" (ngSubmit)="submit()">
        <!-- form field -->
        <div class="form-field"><span>ADD CAREER</span>
          <!-- label -->
          <label class="form-label">Company Name/Organisation Name<span style="color: red;">*</span>.</label>
          <!-- input -->
          <input
            type="text"
            name="companyName"
            placeholder="eg. EM Technologies LTD"
            required
            #company="ngModel"
            [(ngModel)]="companyName"
          />
        </div>
        <p>
          <small *ngIf="company.invalid && company.touched">This field is required</small>
        </p>
        <!-- form field -->
        <div class="form-field">
          <label class="form-label">Company Sector<span style="color: red;">*</span> </label>
            <div class="example-full-width">
              <input #input
                     placeholder="Select"
                     matInput
                     name="organizationSector"
                     [(ngModel)]="organizationSector"
                     [matAutocomplete]="auto"
                     (input)="filter()"
                     (focus)="filter()">
              <mat-autocomplete requireSelection #auto="matAutocomplete">
                @for (option of filteredOptions; track option) {
                  <mat-option [value]="option">{{option}}</mat-option>
                }
              </mat-autocomplete>
            </div>
        </div>
        <!-- form field -->
        <div class="form-field">
          <!-- label -->
          <label class="form-label">Position<span style="color: red;">*</span> </label>
          <!-- input -->
          <input
            type="text"
            name="position"
            placeholder="eg. Business Consultant"
            [(ngModel)]="position"
          >
        </div>
           <!-- form field -->
           
           <div class="form-field">
            <!-- label -->
            <label class="form-label">Role<span style="color: red;">*</span> </label>
            <!-- input -->
            <mat-select
            name="careerRole"
            placeholder="eg. Senior"
            required
            [(ngModel)]="careerRole">
              <mat-option value="Entry">Entry</mat-option>
              <mat-option value="MidLevel">midLevel</mat-option>
              <mat-option value="Senior">Senior</mat-option>
            </mat-select>
            <!-- <input
              type="text"
              name="careerRole"
              placeholder="eg. Senior"
              required
              [(ngModel)]="careerRole"
            /> -->
          </div>
        <!-- form field -->
        <div class="form-field">
          <!-- label -->
          <label class="form-label">Description <span style="color: red;">*</span></label>
          <textarea class="form-label" name="description" [(ngModel)]="description"           
          placeholder="Description" required #desc="ngModel">  
           </textarea>
          <!-- input -->
          <!-- <input
            type="text"
            name="description"
            required
            [(ngModel)]="description"
          /> -->
        </div>
        <p>
          <small *ngIf="desc.invalid && desc.touched">This field is required</small>
        </p>

        <!-- form field -->
        <div class="form-field">
          <!-- input  calender-->
          <div class="calendar-input">
            <!-- start date -->
            <div class="date-start">
              <label class="form-label">Start date<span style="color: red;">*</span></label>
              <input type="date" name="start_date" [(ngModel)]="start_date" />
            </div>
            <!-- end date -->
            <div class="date-end" *ngIf="!status.value.state">
              <label class="form-label">Complete date<span style="color: red;">*</span></label>
              <input type="date" name="end_date" [(ngModel)]="end_date" />
            </div>
            <br>

          </div>
          <section class="example-section" [formGroup]="status" *ngIf="!end_date">
            
            <p><mat-checkbox formControlName="state" name="toDate" [(ngModel)]="toDate" >To Date<span 
            style="color: red;">*</span></mat-checkbox></p>
          </section>
        </div>

        <div class="save-button">
          <ng-container *ngIf="!isUpdating; else elseTemplate">
            <button id="submit" type="submit" (keydown.enter)="(submit)"[disabled]="careerform.invalid">Add Career</button>
          </ng-container>
          <ng-template #elseTemplate>
            <mat-spinner id="sending" ></mat-spinner>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
