.appColor{
    color: #A32A29;
    // color: rgb(230,173,94);
}
.scrollNecc{
    overflow: scroll;
}

mat-icon{
    font-size: 25px;
}
.dates{
    width: 75%;
    font-size: 15px;
}
.download{
    color:#A32A29;
    background-color: rgb(230,173,94);
}